.cart-wrapper{
    margin: 10px 50px;
}
.cart-wrapper th{
    background-color: black;
    color: white;
    text-align: left;
    padding: 15px;



}
.cart-wrapper table{
    width: 100%;
    border-collapse: collapse;
}
.cart-wrapper tr{
    /* border: 1px solid hsla(0,0%,86.7%,.5); */
}
.subtotal{
    margin-top: 50px;
    /* display: flex;
    justify-content: flex-end; */
}
.checkout-btn{


    text-align: center;
    padding: 10px 0px;
    width: 50%;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 13px;
    color: white; 
    margin-bottom: 3px;
    margin-top: 20px;
    border-radius: 3px;
    border: none;
    background-color: #068787;
    cursor: pointer;

}
.empty-cart{
    margin: 90px;
}
.empty-cart .p1{
    text-align: center;
    font-size: 25px;
    font-family: ui-serif;
}

.empty-cart .p2{
    text-align: center;
    font-size: 17px;
    font-family: ui-serif;
}
