.products-container{
    position: relative;
    /* width: 1300px; */
    /* margin: auto; */
    
}
.pro-head p{
  text-align: center;
  background-color: deepskyblue;
  padding: 8px;
  font-size: 25px;
  font-family: auto;
}
.pro-list-container{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;

}
.pro-list {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
  
    padding-left: 16px;
}
.list-items{
width: 233px;
    margin: 16px;

}
.list-items img{
   width: 100%;
    height: 230px;
    padding: 23px;
 
}
.list-items .pro-title{
    text-transform: capitalize;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-weight: 400;
    padding-left: 10px;
}
.pro-price{
    text-transform: capitalize;
    font-weight: 400;
    padding-left: 10px;
    margin-top: -9px;
}
.list-items .btn{
    padding: 5px 0px;
 
    border-radius: 3px;
    border: none;
    background-color: darkorange;
    color: white;
    width: 85px;
    cursor: pointer;
    font-size: 13px;
    font-weight: lighter;
}

 /* productDetails styling */



 .pro-detail-title{
    text-transform: capitalize;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-weight: 400;
    padding-left: 10px;


 }

 .pro-detail-price{
    text-transform: capitalize;
    font-weight: 400;
    padding-left: 10px;
    margin-top: -9px;
}
.pro-detail-btn{
    padding: 10px 0px;
    position: absolute;
    margin-left: 40px;
    border-radius: 3px;
    border: none;
    background-color: darkorange;
    color: white;
    width: 100px;
    cursor: pointer;
    font-size: 13px;
    font-weight: lighter;
}





.datail-container{
    position: relative;
    
}
.pro-head p{
  text-align: center;
  background-color: deepskyblue;
  padding: 8px;
  font-size: 25px;
  font-family: auto;
}
.detail-warpper-container{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    max-width: 100%;
    padding: 0px 100px;
}
.pro-list {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
  
    padding-left: 16px;
}
.detail-items{
    width: 45%;
    background-color: #fff9f9;
    /* border: 1px solid #ebebeb; */
    margin: 16px;

}
.detail-items img{
    width: -webkit-fill-available;
    max-width: 100%;
    /* width: 100%; */
    height: 400px;
    padding: 20px;

 
}
.detail-wrapper{
    width: 50%;
    background-color: #fff9f9;
    border: 1px solid #ebebeb;
}
 .detail-title{
    text-transform: capitalize;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-weight: 400;
  font-size: 22px;
    margin-left: 20px;
}
.detail-price{
    text-transform: capitalize;
    font-weight: 400;
    padding-left: 10px;
    margin-top: -9px;
}
.Add-To-Cart-btn{
    padding: 14px 0px;
    width: 40%;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 13px;
    color: #2e2e2d;
    font-weight: 700;
    margin-bottom: 3px;
    margin-left: 19px;
    margin-top: 20px;
    border-radius: 3px;
    border: none;
    background-color: darkorange;
    cursor: pointer;
}

.k-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 15px;
}
.k-row h5{
    margin: 0;
    font-size: 14px;
    font-weight: 600!important;
    width: 80px;
    color: #2e2e2d;
}
.k-row p{
    margin: 0;
}